.wpc-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    //padding: 20px;

    & form {
        width: 100%;
    }

    &--full-width {
        width: 100%;
    }

    &--left {
        align-items: flex-start;
    }

    &__field {
        margin: 10px 0;
        width: 100%;

        &--right {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: 20px;
        }
    }

    &__label {
        font-weight: 600;
        display: block;
        margin-bottom: 10px;

        &--checkbox {
            display: inline-block;
        }
    }

    &__help {
        font-size: 0.8rem;
        display: block;
        margin-bottom: 10px;
    }

    &__input {
        & a {
            text-decoration: underline;
            color: var(--primary);
        }
                
        & input {
            padding: 10px 15px;
            width: 100%;
            outline: none;
            background-color: var(--form_input_background);
            border: 0;
            border-radius: 5px;
        }

        & select {
            padding: 10px 15px;
            outline: none;
            background-color: var(--form_input_background);
            margin: 0 2px;
            width: 100%;
            border: 0;
            border-radius: 5px;
        }

        & textarea {
            padding: 10px 15px;
            width: 100%;
            outline: none;
            background-color: var(--form_input_background);
            border: 0;
            border-radius: 5px;
        }

        & input[type='checkbox'] {
            @apply form-checkbox;
            color: var(--primary);
            outline-color: var(--primary);
        }

        & input[type='file'] {
            background-color: var(--form_input_background);
            padding: 7px;
        }

        &--inline {
            display: inline-block;
        }
    }

    &__input-group {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        justify-content: flex-start;
    }

    &__error {
        padding: 10px;
    }

    &__button {
        @extend .button;

        font-weight: 600;
    }
}