
@import "variables";
@import "form";
@import "layout";

.dragArea {


}

.dragArea:empty {
    padding:1rem;
    text-align:center;
}

.dragArea:empty:before {
    content: "\F64D";
    font-family: "Bootstrap-icons";
    font-weight: 900;
    color: var(--border-dashed);
}